# dependencies
node_modules/

# Angular build
dist/
.angular/

# environment variables
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# uploaded files
backend/uploads/

# Docker local data
mongo_data/